
#main-container{
	
	margin: 7px;
    width: 100%;
	color: black;
	font-weight: bold;
	

	
}

table{
	font-family: "arial";
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	

}
th, td{
	padding: 10px;
}
thead{
	background-color: #0064FF;
	border-bottom: solid 5px #4c92ff;
	color: white;

}
tr:nth-child(even){
background-color:  #ddd;
}
tr:hover td{
	background-color: #4c92ff;
	color: white;
}