<div id="main-container">
  <table id="success">
          <thead>
            <tr>
                <th>DETALLE</th>
                <th>BIMESTRE</th>
                <th>BIMESTRE 1</th>
                <th>BIMESTRE 2</th>
                <th>BIMESTRE 3</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>+ INGRESOS</td>
              <td>95.000</td>
              <td>85.000</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
  
  
            </tr>
            <tr>
              <td>VENTAS</td>
              <td>75.000</td>
              <td>75.000</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
            <tr>
              <td>OTROS INGRESOS</td>
              <td>10.000</td>
              <td>10.000</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
              <tr>
              <td>CAPITAL PERIODO ANTERIOR</td>
              <td>10.000</td>
              <td>10.000</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
          
            <tr>
              <td>- COSTOS</td>
              <td>48.270</td>
              <td>48.270</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>MATERIA PRIMA</td>
              <td>17.500</td>
              <td>17.500</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>MANO DE OBRA</td>
              <td>8.000</td>
              <td>8.000</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>UTILIDAD BRUTA</td>
              <td>46.730</td>
              <td>36.730</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>-GASTOS OPERATIVOS</td>
              <td>8.500</td>
              <td>8.500</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>INV. MARKETING</td>
              <td>3.500</td>
              <td>3.500</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>INV. INVESTIGACION</td>
              <td>1.500</td>
              <td>1.500</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>INV. ACTIVOS</td>
              <td>3.500</td>
              <td>3.500</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
            <tr>
              <td>UTILIDAD NETA DEL EJERCICO</td>
              <td>38.230</td>
              <td>28.230</td>
              <td>PENDIENTE</td>
              <td>PENDIENTE</td>
            </tr>
  
  
  
          
          </tbody>
        </table>
      </div>
